{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load extra_filters %}
{% block title %}{% trans "Search test cases" %}{% endblock %}

{% block contents %}
{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}" media="screen" />
{% endblock %}
<!DOCTYPE html>
<div class="loading_div" id="loading_div">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="loader">
                        <div class="loading-1"></div>
                        <div class="loading-2">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-cards-pf">
    <form class="form-horizontal" method="get" style="float: right; margin:auto; width: 100%">
        <div class="form-group">
            <label class="col-md-1 col-lg-1" for="id_product">{% trans "Product" %}</label>
            <div class="col-md-3 col-lg-3">
                <select class="form-control selectpicker" id="id_product">
                    <option value="">----------</option>
                {% for option in form.product.field.queryset %}
                    <option value="{{ option.pk }}">{{ option.name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <a href="{% url 'admin:management_component_add' %}" target="_blank">
            <span class="pficon pficon pficon-add-circle-o">{% trans "Add Feature" %}</span>
        </a>
    </form>

    <div class="panel panel-default" style="margin-top: auto; float: right;  width: 100%">
        <!-- Table HTML -->
        <table class="table table-striped table-bordered table-hover" id="resultsTable">
            <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Owner" %}</th>
                    <th>{% trans "Tester" %}</th>
                    <th>{% trans "Related Cases" %}</th>
                </tr>
            </thead>
        </table>

        {% include 'pagination.html' %}

    </div>
</div><!-- /container -->

<!-- JavaScript that is used in this page -->
<script src="{% static 'bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<script src="{% static 'js/jsonrpc.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
<script src="{% static 'testcases/js/feature_view.js' %}"></script>
{% endblock %}
